
{% extends "main/base.html" %}

{% block content %}
</head>
<body class="hold-transition skin-blue sidebar-mini fixed">
<div class="wrapper">

    {% include "main/_header.html" %}
    <!-- Left side column. contains the logo and sidebar -->
    {% include "main/_left.html" %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" id="content-wrapper" style="min-height: 421px;">
        <!--bootstrap tab风格 多标签页-->
        <div class="content-tabs">
            <button class="roll-nav roll-left tabLeft" onclick="scrollTabLeft()">
                <i class="fa fa-backward"></i>
            </button>
            <nav class="page-tabs menuTabs tab-ui-menu" id="tab-menu">
                <div class="page-tabs-content" style="margin-left: 0px;">

                </div>
            </nav>
            <button class="roll-nav roll-right tabRight" onclick="scrollTabRight()">
                <i class="fa fa-forward" style="margin-left: 3px;"></i>
            </button>
            <div class="btn-group roll-nav roll-right">
                <button class="dropdown tabClose" data-toggle="dropdown">
                    Tab Func<i class="fa fa-caret-down" style="padding-left: 3px;"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" style="min-width: 128px;">
                    <li><a class="tabReload" href="javascript:refreshTab();">Refresh</a></li>
                    <li><a class="tabCloseCurrent" href="javascript:closeCurrentTab();">Close</a></li>
                    <li><a class="tabCloseAll" href="javascript:closeOtherTabs(true);">Close All</a></li>
                    <li><a class="tabCloseOther" href="javascript:closeOtherTabs();">Close Others</a></li>
                </ul>
            </div>
            <button class="roll-nav roll-right fullscreen" onclick="App.handleFullScreen()"><i
                    class="fa fa-arrows-alt"></i></button>
        </div>
        <div class="content-iframe " style="background-color: #ffffff; ">
            <div class="tab-content " id="tab-content">

            </div>
        </div>
    </div>
    <!-- /.content-wrapper -->

    {% include "main/_footer.html" %}

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <!-- Home tab content -->
            <div class="tab-pane" id="control-sidebar-home-tab">

                <ul class="control-sidebar-menu">

                </ul>
                <!-- /.control-sidebar-menu -->

            </div>
            <!-- /.tab-pane -->
        </div>
    </aside>
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 2.2.3 -->
<script src={{url_for('static', filename='plugins/jquery-2.2.3.min.js')}}></script>

<script type="text/javascript">
    /**
     * 本地搜索菜单
     */
    function search_menu() {
        //要搜索的值
        var text = $('input[name=q]').val();

        var $ul = $('.sidebar-menu');
        $ul.find("a.nav-link").each(function () {
            var $a = $(this).css("border", "");

            //判断是否含有要搜索的字符串
            if ($a.children("span.menu-text").text().indexOf(text) >= 0) {

                //如果a标签的父级是隐藏的就展开
                $ul = $a.parents("ul");

                if ($ul.is(":hidden")) {
                    $a.parents("ul").prev().click();
                }

                //点击该菜单
                $a.click().css("border", "1px solid");

//                return false;
            }
        });
    }

    $(function () {
//        console.log(window.location);

        App.setbasePath("../");
        App.setGlobalImgPath("dist/img/");

        addTabs({
            id: '10008',
            title: 'Dashboard',
            close: false,
            url: 'dashboard',
            urlType: "relative"
        });

        App.fixIframeCotent();

        /*addTabs({
         id: '10009',
         title: '404',
         close: true,
         url: 'UI/buttons_iframe2.html'
         });*/

        /*
         <li class="treeview">
         <a href="#">
         <i class="fa fa-edit"></i> <span>Forms</span>
         <span class="pull-right-container">
         <i class="fa fa-angle-left pull-right"></i>
         </span>
         </a>
         <ul class="treeview-menu">
         <li><a href="forms/general.html"><i class="fa fa-circle-o"></i> General Elements</a></li>
         <li><a href="forms/advanced.html"><i class="fa fa-circle-o"></i> Advanced Elements</a></li>
         <li><a href="forms/editors.html"><i class="fa fa-circle-o"></i> Editors</a></li>
         </ul>
         </li>
         */
        var menus = [
            {
                id: "9000",
                text: "header",
                icon: "",
                isHeader: true
            },
            {
                id: "9001",
                text: "Dashboard",
                icon: "fa fa-dashboard",
                children: [
//                    {
//                        id: "90011",
//                        text: "buttons",
//                        icon: "fa fa-circle-o",
//                        url: "UI/buttons_iframe.html",
//                        targetType: "iframe-tab"
//                    },
//                    {
//                        id: "90012",
//                        text: "icons",
//                        url: "UI/icons_iframe.html",
//                        targetType: "iframe-tab",
//                        icon: "fa fa-circle-o"
//                    },
//                    {
//                        id: "90013",
//                        text: "general",
//                        url: "UI/general_iframe.html",
//                        targetType: "iframe-tab",
//                        icon: "fa fa-circle-o"
//                    },
//                    {
//                        id: "90014",
//                        text: "modals",
//                        url: "UI/modals_iframe.html",
//                        targetType: "iframe-tab",
//                        icon: "fa fa-circle-o"
//                    },
//                    {
//                        id: "90015",
//                        text: "sliders",
//                        url: "UI/sliders_iframe.html",
//                        targetType: "iframe-tab",
//                        icon: "fa fa-circle-o"
//                    },
//                    {
//                        id: "90016",
//                        text: "timeline",
//                        url: "UI/timeline_iframe.html",
//                        targetType: "iframe-tab",
//                        icon: "fa fa-circle-o"
//                    }
                ]
            },
            {
                id: "9002",
                text: "Articles",
                icon: "fa fa-pencil-square-o",
                children: [
//                    {
//                        id: "90021",
//                        text: "advanced",
//                        url: "forms/advanced_iframe.html",
//                        targetType: "iframe-tab",
//                        icon: "fa fa-circle-o"
//                    },
//                    {
//                        id: "90022",
//                        text: "general",
//                        url: "forms/general_iframe.html",
//                        targetType: "iframe-tab",
//                        icon: "fa fa-circle-o"
//                    },
//                    {
//                        id: "90023",
//                        text: "editors",
//                        url: "forms/editor.html",
//                        targetType: "iframe-tab",
//                        icon: "fa fa-circle-o"
//                    },
                    {
                        id: "90024",
                        text: "New Article",
                        url: "article/add",
                        targetType: "iframe-tab",
                        icon: "fa fa-circle-o",
                        urlType: 'abosulte'
                    }
                ]
            }
        ];
        $('.sidebar-menu').sidebarMenu({data: menus});

        // 动态创建菜单后，可以重新计算 SlimScroll
        // $.AdminLTE.layout.fixSidebar();

        /*if ($.AdminLTE.options.sidebarSlimScroll) {
            if (typeof $.fn.slimscroll != 'undefined') {
                //Destroy if it exists
                var $sidebar = $(".sidebar");
                $sidebar.slimscroll({destroy: true}).height("auto");
                //Add slimscroll
                $sidebar.slimscroll({
                    height: ($(window).height() - $(".main-header").height()) + "px",
                    color: "rgba(0,0,0,0.2)",
                    size: "3px"
                });
            }
        }*/

    });
</script>
{% endblock %}
</body>